alembic==1.0.0
backcall==0.1.0
Click==7.0
decorator==4.3.0
Flask==1.0.2
Flask-Login==0.4.1
Flask-Migrate==2.2.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
ipykernel==5.0.0
ipython==7.0.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.10
jupyter-client==5.2.3
jupyter-core==4.4.0
Mako==1.0.7
MarkupSafe==1.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.5
ptyprocess==0.6.0
Pygments==2.2.0
python-dateutil==2.7.3
python-editor==1.0.3
pyzmq==17.1.2
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.2.12
tornado==5.1.1
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
WTForms==2.2.1
