<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--These braces are here for Jinja2 templating -->
  {% if title %}
  <title>{{title}} - Microblog</title>
  {% else %}
  <title>Welcome to Microblog </title>
  {% endif %}
</head>
<body>
  <div>
    Microblog:
    <a href="{{ url_for('/index') }}"> Home</a>
    <a href="{{ url_for('/login') }}"> Sign In</a>
  </div>
  <!--  Markup below is for displaying login messages --->
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
        {% for message in messages %}
          <li> {{ message }}</li>
        {% endfor %}
      </li>
  {% endif %}
  {% endwith %}
  <!-- This block would be replaced with local extends -->
  {% block content %}{% endblock %}
</body>
</html>
